.header{
}
.header .nav{
    margin-top: 20px;
}
.logo img{
    max-width: 130px;
}

.main{
    padding-top: 20px;
}
body{
    /*background: #f2f2f2;*/
}
.footer{
    clear: both;
    font-size: 14px;
    margin-top: 60px;
    padding: 30px 0;
}
.copyright{
    text-align: center;
}

.box{
    background: #fff;
    border-radius: 4px;
    padding: 22px 18px 18px;
    width: 100%;
}
.g-username{
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 20px;
}

.who-late-item{
    font-size: 14px;
    line-height: 16px;
    margin: 5px 0;
    text-align: center;
    max-width: 100px;
}
.who-late-item img{
    border-radius: 50%;
    display: block;
    height: 50px;
    margin: 0 auto 2px;
    width: 50px;
}

.time-tracker-table{
    clear: both;
    margin-top: 10px;
}
.time-tracker-table>tbody>tr:first-child td{
    border-top: none;
}
.fa-pause-circle{
    color: #bbb;
}
.bg-late{
    background-color: #ffb9b2;
}
.tooltip-link-success{
    border-bottom: 1px dotted #28a745;
}
.tooltip-link{
    border-bottom: 1px dotted #444;
}

.employees-department{
    background: #f6f6f6;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 2px;
    text-transform: uppercase;
}
.report>.row:first-child{
    margin-bottom: 15px;
}
.report-date{
    font-size: 15px;
    margin-top: 5px;
}
.report form .form-group{
    margin: 0;
    padding: 10px 0;
    border-top: 1px solid #ddd;
}
.report form .form-group:first-child,.report form .form-group.row-small,.report form .form-group-lg{
    border-top: none;
}
.report form .form-group-lg{
    background: #f6f6f6;
    margin-top: 2px;
}
.report label{
    margin: .375rem 0;
}
.report .form-control{
    display: inline-block;
    max-width: 100px;
    margin-right: 4px;
    text-align: center;
}
.report .form-control-hours{
    max-width: 80px;
}
.report .form-control-hours:last-child{
    margin-left: 4px;
}
.report .col-5>div.text-danger,.report .col-5>div.text-success{
    padding: .375rem 0;
}
.report form .row-small{
    padding: 0;
}
.row-small .col-5{
    font-size: 14px;
}
.form-group-lg{
    font-size: 20px;
}
.report .form-group-lg label{
    padding-top: 2px;
}
.report form .form-action{
    border-top: none;
    margin-top: 20px;
}
.form-action .btn{
    margin-left: 10px;
}

.form-pay-advance .form-group{
    margin-right: 10px;
}
.form-pay-advance .form-control{
    max-width: 90px;
    text-align: center;
}
.duty-day{
    background-color: #ffb9b2;
}
.bg-duty {
    background-color: #b2bed4;
}
.display_none {
    display: none;
}
.bg-vacation {
    background-color: #ffeaa7;
}
.errorMessage {
    font-size: 22px;
    font-weight: bold;
    color: #dd0f0f;
}

.successMessage {
    font-size: 22px;
    font-weight: bold;
    color: #33ea09;
}
.profile-avatar {
    display: block;
    margin-left: auto;
    margin-right: auto;
    /*width: 50%;*/
}