<div class='container mt-5'>
    <h2>Создать нового пользователя:</h2>
    <form method="post">
        <div class="form-group">
            <label for="exampleInputEmail1"><?=$form->label('lastname')?></label>
            <?=$form->render('lastname',
                [
                    'maxlength' => 30,
                    'class' => 'form-control',
                ]);
            ?>
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1"><?=$form->label('username')?></label>
            <?=$form->render('username',
                [
                    'maxlength' => 30,
                    'class' => 'form-control',
                ]);
            ?>
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1"><?=$form->label('email')?></label>
            <?=$form->render('email',
                [
                    'maxlength' => 30,
                    'class' => 'form-control',
                ]);
            ?>
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1"><?=$form->label('password')?></label>
            <?=$form->render('password',
                [
                    'class' => 'form-control',
                ]);
            ?>
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1"><?=$form->label('userRole')?></label>
            <?=$form->render('userRole',
                [
                    'class' => 'form-control',
                ]);
            ?>
        </div>
        <button type="submit" class="btn btn-primary">Создать</button>
    </form>
</div>