<div class='container mt-5'>
    <div class="row">
        <div class="col-9">
            <h2>Редактировать пользователя:</h2>
            <form method="post">
                <div class="form-group">
                    <label for="exampleInputEmail1"><?=$form->label('lastname')?></label>
                    <?php echo $form->render('lastname',
                        [
                            'maxlength' => 30,
                            'class' => 'form-control',
                            'value' => $user->lastname,
                        ]);
                    ?>
                </div>

                <div class="form-group">
                    <label for="exampleInputEmail1"><?=$form->label('username')?></label>
                    <?php echo $form->render('username',
                        [
                            'maxlength' => 30,
                            'class' => 'form-control',
                            'value' => $user->username,
                        ]);
                    ?>
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1"><?=$form->label('email')?></label>
                    <?php echo $form->render('email',
                        [
                            'maxlength' => 30,
                            'class' => 'form-control',
                            'value' => $user->email,
                        ]);
                    ?>
                </div>
                <div class="form-check">
                    <input type="checkbox" id="activeUser" name="active"
                           class="form-check-input" <?= $user->active == 'Y' ? 'checked' : '' ?>>
                    <label class="form-check-label" for="activeUser">
                        <?=$form->label('active')?>
                    </label>
                </div>
                <div class="form-group mt-2">
                    <label for="exampleInputEmail1"><?=$form->label('userRole')?></label>
                    <?=$form->render('userRole',
                        [
                            'class' => 'form-control',
                            'value' => $user->userRole,
                        ]);
                    ?>
                </div>
                <button type="submit" class="btn btn-primary">Изменить</button>
            </form>
        </div>
    </div>
</div>