<div class="main">
    <div class="container">
        <div class="row">
            <div class="col-7">
                <div class="col-12">
                    <h1><?= $user->lastname; ?></h1>
                </div>
                <div class="col-12">
                    <span class="text-success">Выберите дату:</span>
                    <form class="form-inline float-right" method="get">
                        <div class="form-row">
                            <select name="day" onchange="this.form.submit();" class="form-control">
                                <?php if (!empty($daysMonthList)): ?>
                                    <?php foreach ($daysMonthList as $day): ?>
                                        <option value="<?= $day['dateDay']; ?>" <?= $currentDay == $day['dateDay'] ? 'selected' : ''; ?>><?= $day['dateDay']; ?></option>
                                    <?php endforeach; ?>
                                <?php endif; ?>
                            </select>&nbsp;&nbsp;&nbsp;&nbsp;
                            <select name="month" onchange="this.form.submit();" class="form-control">
                                <?php if (!empty($monthsList)): ?>
                                    <?php foreach ($monthsList as $months): ?>
                                        <option value="<?= $months['value']; ?>" <?= $currentMonth == $months['value'] ? 'selected' : ''; ?>><?= $months['name']; ?></option>
                                    <?php endforeach; ?>
                                <?php endif; ?>
                            </select>&nbsp;&nbsp;&nbsp;&nbsp;
                            <select name="year" onchange="this.form.submit();" class="form-control">
                                <?php if (!empty($yearList)): ?>
                                    <?php foreach ($yearList as $item): ?>
                                        <option value="<?= $item['value']; ?>" <?= $currentYear == $item['value'] ? 'selected' : ''; ?>><?= $item['name']; ?></option>
                                    <?php endforeach; ?>
                                <?php endif; ?>
                            </select>
                        </div>
                    </form>
                </div>
                <div class="col-12">
                    <table class="table mt-5">
                        <tbody>
                        <?php if (!empty($startEnds)): ?>
                            <tr class="today" style="background-color: #dee2e6">
                                <td>
                                    <?=$currentDay?>, <?=date('F', mktime(0, 0, 0, $currentMonth, 10))?>
                                </td>
                                <td class="text-center">
                                    <?php foreach ($startEnds as $item): ?>
                                        <?php if(!empty($item['start'])): ?>
<!--                                            --><?//= !empty($item['start']) ? $item['start'].' - ' : ''; ?><!-- --><?//=$item['stop']; ?>
                                            <div class="user-counter-value mt-2">
                                                <form action="<?=$this->url->get(['for' => 'admin-update-start-end', 'id' => $item['id']]);?>" method="POST">
                                                    <div class="row">
                                                        <div class="col">
                                                            <input type="text" name="start" value="<?=$item['start'];?>" class="form-control form-control-sm">
                                                        </div>
                                                        <div class="col">
                                                            <input type="text" name="stop" value="<?=$item['stop'];?>" class="form-control form-control-sm">
                                                        </div>
                                                        <input type="hidden" name="month" value="<?=$currentMonth;?>">
                                                        <div class="col">
                                                            <button type="submit"  class="btn btn-primary btn-sm">Изменить</button>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        <?php endif; ?>
                                    <?php endforeach; ?>
                                </td>
                                <td>
                                    <b>
                                        <span class=""><?=$hour['total']?></span>
                                    </b>
                                </td>
                                <td><b></b></td>
                                <td></td>
                            </tr>
                        <?php else: ?>
                            <h3 class="text-danger">Не найдено ни одной записи...</h3>
                        <?php endif; ?>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>