<div class="container">
    <div class="row">
        <div class="col-6 offset-2">
            <h5 class="text-success mt-3">Изменить историю прихода и ухода пользователей:</h5>

            <?php if (!empty($page->items)): ?>
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Пользователь</th>
                    </tr>
                    </thead>
                    <tbody>
                    <?php foreach ($page->items as $item): ?>
                        <tr>
                            <th scope="row"><?php echo $item->id; ?></th>
                            <td>
                                <a href="<?=$this->url->get(['for' => 'edit-user-hour', 'userId' => $item->id]); ?>"><?= $item->lastname;?></a>
                            </td>
                        </tr>
                    <?php endforeach; ?>
                    </tbody>
                </table>
                <ul class="pagination">
                    <li class="prev">
                        <a class="page-link" href="<?php echo $this->url->get('admin/index'); ?>?page=<?= $page->before; ?>">«</a>
                    </li>
                    <?php for ($i = 1; $i <= $page->total_pages; $i++): ?>
                        <li class="page-item <?php if ($i == $page->current) {echo 'active';} ?>">
                            <a class="page-link" href="<?= $this->url->get('admin/index'); ?>?page=<?= $i; ?>">
                                <?= $i ?>
                            </a>
                        </li>
                    <?php endfor; ?>
                    <li class="next">
                        <a class="page-link" href="<?php echo $this->url->get('admin/index'); ?>?page=<?= $page->next; ?>">»</a>
                    </li>
                </ul>
            <?php endif; ?>
        </div>
    </div>
</div>