<div class="container">
    <h2>Список пользователей:</h2>
    <p>
        <a class="btn btn-success" href="<?php echo $this->url->get('admin/create'); ?>">
            Создать пользователя
        </a>
    </p>
    <?php if (!empty($page->items)): ?>
        <table class="table">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Пользователь</th>
                <th scope="col">Email</th>
                <th scope="col">Статус</th>
                <th scope="col">Manage</th>
            </tr>
            </thead>
            <tbody>
            <?php foreach ($page->items as $item): ?>
                <tr <?php if ($item->active == 'N'): ?> style="background-color: #e57373" <?php endif; ?>>
                    <th scope="row"><?php echo $item->id; ?></th>
                    <td><?php echo $item->lastname; ?></td>
                    <td><?php echo $item->email; ?></td>
                    <td>
                        <?php if ($item->active == 'Y'): ?>
                            <span>Активно</span>
                        <?php else: ?>
                            <span>Неактивно</span>
                        <?php endif; ?>
                    </td>
                    <td>
                        <a href="<?php echo $this->url->get('admin/delete'); ?>?id=<?= $item->id; ?>" title="Удалить"
                           onclick="return removeAlert()">Удалить</a><br>
                        <a href="<?php echo $this->url->get('admin/edit'); ?>?id=<?= $item->id; ?>">Редактировать</a>
                    </td>
                </tr>
            <?php endforeach; ?>
            </tbody>
        </table>
        <ul class="pagination">
            <li class="prev">
                <a class="page-link" href="<?php echo $this->url->get('users'); ?>?page=<?= $page->before; ?>">«</a>
            </li>
            <?php for ($i = 1; $i <= $page->total_pages; $i++): ?>
                <li class="page-item <?php if ($i == $page->current) {echo 'active';} ?>">
                    <a class="page-link" href="<?= $this->url->get('users'); ?>?page=<?= $i; ?>">
                        <?= $i ?>
                    </a>
                </li>
            <?php endfor; ?>
            <li class="next">
                <a class="page-link" href="<?php echo $this->url->get('users'); ?>?page=<?= $page->next; ?>">»</a>
            </li>
        </ul>
    <?php endif; ?>
</div>