<div class="main">
    <div class="container">
        <div class="row">
            <div class="col-7">
                <div class="g-username">
                    <h2>Привет <?php echo !empty($user->lastname) ? $user->lastname : '' ?> !</h2>
                </div>
                <p>
                    В этом месяце, ты отработал <b><?=$totalPerMonth?></b> часов
                    из необходимых <?=$workingHoursCount?> часов или
                    <b><?=$percentOfTotal?>%</b>.<br>
                    Опоздал
                    <b class="tooltip-link" data-toggle="tooltip">
                        <span class="text-danger"><?= $authUserlateCount ? $authUserlateCount: 0?> раз</span>
                    </b>.
                </p>
            </div>
            <div class="col-4 offset-1">
                <?php if (!empty($lateUsers)): ?>
                    <b>Главные опоздуны</b>
                    <div class="row">
                        <?php foreach ($lateUsers as $user): ?>
                            <div class="col-sm-4 who-late-item">
                                <img src="<?php echo $this->url->get('/');?>/img/avatar.jpg">
                                <br>
                                <span><?=$user->lastname; ?></span>
                                <div id="bad-counter">
                                    <b><span class="text-danger"><?=$user->beenLate; ?></span></b>
                                </div>
                            </div>
                        <?php endforeach; ?>
                    </div>
                <?php endif; ?>
            </div>
        </div>
        <div class="row">
            <div class="col-8">
                <div class="box">
                    <div class="float-left">
                        <a href="javascript://" class="btn btn-secondary" onclick="hideShowRows();">
                            Hide/Show
                        </a>
                    </div>
                    <form class="form-inline float-right" method="get">
                        <div class="form-row">
                            <select name="month" onchange="this.form.submit();" class="form-control">
                                <?php if (!empty($monthsList)): ?>
                                    <?php foreach ($monthsList as $months): ?>
                                        <option value="<?=$months['value'];?>" <?php echo $currentMonth == $months['value'] ? 'selected' : '';?>><?=$months['name'];?></option>
                                    <?php endforeach; ?>
                                <?php endif; ?>
                            </select>&nbsp;&nbsp;&nbsp;&nbsp;
                            <select name="year" onchange="this.form.submit();" class="form-control">
                                <?php if (!empty($yearList)): ?>
                                    <?php foreach ($yearList as $item): ?>
                                        <option value="<?=$item['value'];?>" <?php echo $currentYear == $item['value'] ? 'selected' : '';?>><?=$item['name'];?></option>
                                    <?php endforeach; ?>
                                <?php endif; ?>
                            </select>
                        </div>
                    </form>
                    <br>
                    <br>
                    <span id="stop_time_200" style="display: none; float: right; width: 50px; margin: 5px"></span>
                    <table class="table time-tracker-table table-hover hours_log">
                        <tbody>
                            <!-- ============= Show month day    ===========  -->
                            <?php if (!empty($datesMonth)): ?>
                                <?php foreach ($datesMonth as $dateMonth): ?>
                                    <tr class="<?=$currentDate == $dateMonth['date'] ? 'today': 'display_none'?>">
                                        <td><?=$dateMonth['dateDay'];?> <?=substr($dateMonth['day'], 0, 3);?>, <?=substr($dateMonth['month'], 0, 3);?> </td>
                                        <td>
                                            <?php if ($dateMonth['working_day']):?>
                                                <input class="form-check-input" id="day_2-2" type="checkbox" checked disabled="">
                                            <?php else: ?>
                                                <input class="form-check-input" id="day_2-2" type="checkbox" disabled="">
                                            <?php endif; ?>
                                        </td>

                                            <td class="text-center">
                                                <!-- =============  Start Ends   ===========  -->
                                                <?php if(!empty($startEndList)): ?>
                                                    <?php foreach ($startEndList as $item): ?>
                                                         <?php if($item['createdAt'] == $dateMonth['date']): ?>
                                                            <?= !empty($item['start']) ? $item['start'].' - ' : ''; ?> <?=$item['stop']; ?><br/>
                                                         <?php endif; ?>
                                                    <?php endforeach; ?>
                                                <?php endif; ?>
                                                <!-- =============  End Start Ends   ===========  -->

                                                <!-- =============  Show current day buttons   ===========  -->
                                                <?php if ($currentDate == $dateMonth['date']):?>
                                                    <span id="start_time_200" class="my_start_time" style="display: none;"></span>
                                                    <input type="hidden" value="last_start">


                                                            <?php if(!empty($startEnds['start'])): ?>
                                                            <a href="<?=$url;?>?id=<?=$authUserHours->id;?>&startEndId=<?=$authUserStartEndId;?>&action=stop" class="big_button btn btn-sm btn-primary">
                                                                Stop
                                                            </a>

                                                            <?php else: ?>
                                                            <a href="<?=$url;?>?id=<?=$authUserHours->id;?>&startEndId=<?=$authUserStartEndId;?>&action=start" class="big_button btn btn-sm btn-primary">
                                                                Start
                                                            </a>
                                                            <?php endif; ?>

                                                <?php endif; ?>
                                                <!-- ============= End Show current day buttons    ===========  -->
                                            </td>
                                            <td>
                                                <!-- =============  Total time   ===========  -->
                                                <?php if(!empty($startEndList)): ?>
                                                    <?php foreach ($startEndList as $item): ?>
                                                        <?php if($item['createdAt'] == $dateMonth['date']): ?>
                                                            <b>
                                                            <?php if($item['total'] >= '08:00' ): ?>
                                                                <span class="text-success"><?=$item['total']; break; ?></span>
                                                            <?php else: ?>
                                                                <span class="text-danger"><?=$item['total'];break; ?></span>
                                                            <?php endif; ?>
                                                            </b>
                                                        <?php endif; ?>
                                                    <?php endforeach; ?>
                                                <?php endif; ?>
                                                <!-- =============  End Total time   ===========  -->
                                            </td>

                                        <td><b></b></td>
                                        <td></td>
                                    </tr>
                                <?php endforeach; ?>
                            <?php endif; ?>
                            <!-- ============= End Show month day    ===========  -->

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>