<div class="row">
    <div class="col-8 offset-2">
        <h2 class="text-center">Ваш профиль:</h2>
        <form method="post">
            <div class="form-group">
                <label for="exampleInputEmail1">ФИО.</label>
                <?php echo $form->render('lastname',
                    [
                        'maxlength'   => 30,
                        'class' => 'form-control',
                        'value' => $user->lastname,
                    ]);
                ?>
            </div>
            <button type="submit" class="btn btn-primary">Изменить</button>
        </form>
        <p class="mt-3 text-center">
            <a href="<?php echo $this->url->get('change-password');?>">Изменить пароль</a>
        </p>
    </div>
</div>
