<div class='container mt-5'>
    <div class="row">
        <div class="col-8 offset-2">
            <h2>Настройки:</h2>
            <form method="post">
                <div class="form-group">
                    <label for="monthsSelect">Начало рабочего дня</label>
                    <input type="time" name="settings[beginning]" value="<?=$beginning;?>" class="form-control">
                </div>
                <div class="form-group">
                    <label for="maxLate">Макс. кол. опозданий за месяц</label>
                    <input type="number" name="settings[max_late]" value="<?=$maxLate;?>" class="form-control" id="maxLate">
                </div>
                <button type="submit" class="btn btn-primary">Изменить</button>
            </form>
        </div>
    </div>
</div>