<div class='container mt-5'>
    <div class="row">
        <div class="col-8 offset-2">
            <h2>Создать новый нерабочий день:</h2>
            <form method="post">
                <div class="form-group">
                    <label for="monthsSelect">Месяц</label>
                    <select name="month" class="form-control months_select" id="monthsSelect">
                        <?php if (!empty($monthsList)): ?>
                            <?php foreach ($monthsList as $months): ?>
                                <option value="<?php echo $months['value']; ?>"><?php echo $months['name']; ?></option>
                            <?php endforeach;?>
                        <?php endif; ?>
                    </select>
                </div>
                <div class="form-group">
                    <label for="daysSelect">Дни</label>
                    <select name="day" class="form-control days_select" id="daysSelect"></select>
                </div>
                <div class="form-group form-check">
                    <input type="checkbox" name="repeat" class="form-check-input" id="repeatCheck" value="Y">
                    <label class="form-check-label" for="repeatCheck">Повтор</label>
                </div>
                <button type="submit" class="btn btn-primary">Создать</button>
            </form>
        </div>
    </div>
</div>

<script>
    var today = new Date();

    function daysInMonth (month) {
        return new Date(today.getFullYear(), month, 0).getDate();
    }

    function setMonthDays(days) {
        var options = '';
        var arrayOfDays = [];

        for (var day = 1; day <= days; day++) {

            var stringDay = day.toString();

            if(stringDay.length === 1) {
                arrayOfDays[Number.parseInt('0' + stringDay)] = '0' + stringDay;
            } else {
                arrayOfDays[stringDay] = stringDay;
            }
        }

        $.each(arrayOfDays, function (key, value) {
            if (value !== undefined) {
                if(today.getDate() === value) {
                    selected = 'selected';
                }

                options += '<option value="' +  value + '">' + value + '</option>';
            }
        });

        $('.days_select').html(options);
    }

    $('.months_select').change(function() {
        setMonthDays(daysInMonth($(this).val()));
    });

    setMonthDays(daysInMonth($('.months_select').val()));
</script>