
<div class="container">
    <div class="row">
        <div class="col-8 offset-2">
            <h2 class=text-center" m-3">Не рабочие дни:</h2>

            <p>
                <a class="btn btn-success" href="<?php echo $this->url->get('daysoff/create');?>">Создать</a>
            </p>
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">День</th>
                    <th scope="col">Месяц</th>
                    <th scope="col">Повтор</th>
                    <th scope="col">Год</th>
                    <th scope="col">Действие</th>
                </tr>
                </thead>
                <tbody>
                <?php foreach ($days as $item): ?>
                    <tr>
                        <th scope="row"><?php echo $item->id;?></th>
                        <td><?php echo $item->day;?></td>
                        <td><?php echo date("F", mktime(0, 0, 0, $item->month, 10));?></td>
                        <td><?php echo $item->repeat;?></td>
                        <td><?php echo $item->date;?></td>
                        <td>
                            <a href="<?php echo $this->url->get('daysoff/delete');?>?id=<?= $item->id;?>" title="Удалить" onclick="return removeAlert()">Удалить</a><br>
                        </td>
                    </tr>
                <?php endforeach;?>

                </tbody>
            </table>
        </div>
    </div>

</div>