<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="<?php echo $this->url->get('admin/index');?>">Admin</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <?php $auth = $this->session->get('auth'); ?>
                <li class="nav-item">
                    <a class="nav-link" href="<?php echo $this->url->get('users');?>">Пользователи</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="<?php echo $this->url->get('settings');?>">Настройки</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="<?php echo $this->url->get('days-off');?>">Не рабочие дни</a>
                </li>
            </ul>
            <ul class="nav navbar-nav ml-auto">
                <li class="nav-item">
                    <b><a class="nav-link" target="_blank" href="<?php echo $this->url->get('index');?>">На сайт</a></b>
                </li>
                <li class="nav-item">
                    <?php if($auth):?>
                        <a href="<?php echo $this->url->get('session/end');?>" class="nav-link">Выйти</a>
                    <?php else:?>
                        <a href="<?php echo $this->url->get('session/start');?>" class="nav-link">Войти</a>
                    <?php endif;?>
                </li>
            </ul>
        </div>
    </div>
</nav>

<?php $this->flashSession->output() ?>
<?php echo $this->getContent();;?>