<?php
use Phalcon\Mvc\Url;
?>
<div class="header">
  <div class="container">
    <div class="row">
      <div class="col-4">
        <div class="logo"><a href="<?php echo $this->url->get('home');?>"><img src="<?php echo $this->url->get('/');?>/img/logo.svg"></a></div>
      </div>
      <div class="col-8">
        <ul class="nav justify-content-end">
            <?php $auth = $this->session->get('auth'); ?>
            <?php if($auth):?>
                <li class="nav-item">
                    <a href="<?php echo $this->url->get('admin/index');?>" class="nav-link">Админ</a>
                </li>
                <li class="nav-item">
                    <a href="<?php echo $this->url->get('user-profile');?>" class="nav-link">Профиль</a>
                </li>
            <?php endif;?>

            <li class="nav-item">
                  <?php if($auth):?>
                      <a href="<?php echo $this->url->get('logout');?>" class="nav-link">Выйти</a>
                  <?php else:?>
                      <a href="<?php echo $this->url->get('login');?>" class="nav-link">Войти</a>
                  <?php endif;?>
              </li>
        </ul>
        </div>
    </div>
  </div>
</div>

<div class="container">
    <?php $this->flashSession->output() ?>
    <?php echo $this->getContent();;?>
    <hr>
    <div class="footer">
      <div class="container">
        <div class="row">
          <div class="copyright col-12 text-muted">© <?php echo date('Y');?> powered by Growave</div>
        </div>
      </div>
    </div>
</div>
